@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

:root{
    --main-color: #736454;
    --primary-color: #eff1f3;
    --bg-color: #f6f8fb;
    --hover: #5a4d3e;
    --black:#222;
    --white:#fff;
    --border:.1rem solid #aaa;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: var(--main-color);
    margin-bottom: 3rem;
    font-size: 4rem;
    margin-top: 4rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    background: var(--main-color);
    border: var(--main-color);
    border-radius: 10px;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
}

.btn:hover{
    background: var(--hover);
}

/* header */
.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0; right: 0;
    background: var(--primary-color);
    z-index: 1000;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 3rem;
    color: var(--black);
}

.header .navbar a:hover{
    padding-bottom: .5rem;
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

/* home */

@keyframes fadeIn{
    0%{
        transform: translateY(-4rem) scale(0);
        opacity: 0;
    }
}

.home{
    padding: 0;
}

.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center ;
    display: flex;
    align-items: center;
}

.home .slide .content{
    text-align: center;
    width: 70rem;
    padding-left: 16rem;
    display: none;
}

.home .slide .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--main-color);
    line-height: 1;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

.home .slide .content .btn{
    animation: fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .4s backwards;
}

.home .swiper-slide-active .content{
    display: inline-block;
}

.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    line-height: 5rem;
    background: var(--white);
    color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--main-color);
    color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

/* about us */

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 39rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 51rem;
    padding: 8rem;
}

.about .row .content h3{
    font-size: 4rem;
    color: var(--main-color);
    padding: 2rem 0;
}

.about .row .content p{
    font-size: 2rem;
    color: #444;
    padding: 1rem 0;
    line-height: 1.8;
}

/* seller */

.seller{
    background: var(--bg-color);
}

.seller .box-container{
    display: inline;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.seller .box-container .box .image{
    overflow: visible;
    text-align: center;
}

.seller .box-container .box .image img{
    object-fit: cover;
    height: auto;
    width: 35%;
    border-radius: 20px;
}

.seller .box-container .box .content{
    padding: 1.5rem;
    text-align: center;
}

.seller .box-container .box .content .title{
    font-size: 2.5rem;
    color: var(--main-color);
}

.seller .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #a6a9ab;
}

.seller .box-container .box .content .price{
    color: var(--main-color);
    font-size: 2.3rem;
    padding: .5rem 0;
}

.seller .box-container .box .content .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

/* menu */

.menu .menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.menu .menu-container .box{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.menu .menu-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu .menu-container .box:hover img{
    transform: scale(1.1);
}

.menu .menu-container .box .icon{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: none;
}

.menu .menu-container .box .icon i{
    font-size: 6rem;
    color: var(--white);
}

.menu .menu-container .box:hover .icon{
    display: flex;
}

/* address */

.address{
    background: var(--bg-color);
}

.map{
    background-color: #a6a9ab;
    height: 50rem;
    width: 100%;
    margin: 1rem 0;
    border-radius: 20px;
}

/* footer */

.footer{
    background: url(../images/footer.png);
    margin-top: 2rem;
    text-align: center;
}

.footer .icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .icons-container .icons{
    text-align: center;
    padding: 3rem 2rem;
}

.footer .icons-container .icons i{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: var(--main-color);
    color: var(--white);
    margin-bottom: .5rem;
    line-height: 5.8rem;
    font-size: 2rem;
}

.footer .icons-container .icons h3{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
    text-transform: capitalize;
}

.footer .icons-container .icons p{
    line-height: 1.5;
    font-size: 1.7rem;
    color: #a6a9ab;
    text-transform: capitalize;
}

.footer .icons-container .icons .link{
    font-size: 1.7rem;
    line-height: 2rem;
    color: var(--main-color);
    padding: .5rem 0;
    display: block;
}

.footer .icons-container .icons .link:hover{
    color: var(--hover);
    text-decoration: underline;
}

.footer .share{
    margin: 2rem 0;
}

.footer .share a{
    height: 6rem;
    width: 6rem;
    line-height: 5.8rem;
    color: var(--white);
    background: var(--main-color);
    border-radius: 10px;
    margin: 0 .3rem;
    font-size: 2.5rem;
}

.footer .share a:hover{
    background: var(--hover);
}

.footer .credit{
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color: var(--main-color);
}

/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }

    .home .slide .content{
        text-align: left;
        width: 50rem;
        padding-left: 9rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
    }

    .home .slide .content{
        text-align: left;
        width: 40rem;
        padding-left: 9rem;
    }

    .home .slide .content h3{
        font-size: 4rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .slide .content h3{
        font-size: 3rem;
    }

}